[submodule "psp-includes"]
	path = psp-includes
	url = https://github.com/PSPReverse/psp-includes
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone
[submodule "libgdbstub"]
	path = libgdbstub
	url = https://github.com/AlexanderEichner/libgdbstub
[submodule "unicorn"]
	path = unicorn
	url = https://github.com/PSPReverse/unicorn.git
	branch = mmio
